@import '../utils/mixins';

.container {
  width: 1000px;
  padding: 15px 0;
  @include flex_col;
  justify-content: space-around;
  align-items: center;
}

.page_heading{
  font-size: 5rem;
  margin: 20px 0;
}

.presentation{
  @include flex_row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.resume{
  width: 330px;
}

.home_img{
  width: 65%;
}

.contribute{
  @include flex_col;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}
