@import '../utils/variables';
@import '../utils/mixins';

.products{
  width: 1000px;
  margin-bottom: 25px;
  @include flex_row;
  justify-content: space-around;
}

.shop_message{
  margin-bottom: 20px;
}

.card{
  height: 280px;
  width: 200px;
  border: 1px solid $main_color;
  @include flex_col;
  align-items: center;
}

.card>img{
  height: 150px;
  width: 100%;
}

.card>h3, .card>p{
  padding-top: 10px;
}

.card>button{
  font-size: 1rem;
  border: none;
  margin-top: 10px;
  box-shadow: 1px px 2px $grey;
}
